# Just running the same shit because I don't feel like building the dumb curl request to test out the GitHub action
name: Test wakeup
on: push
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Get
      run: go get github.com/danpenn/SleepIQ

    - name: Run
      run: go run main.go
      env:
        SLEEPIQ_USER: ${{ secrets.SLEEPIQ_USER }}
        SLEEPIQ_PASS: ${{ secrets.SLEEPIQ_PASS }}